mat-card {
  max-width: 700px;

  mat-card-header {
    .button-group-header {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  mat-card-content {
    .mat-card-child {
      max-width: 500px;
    }
  }
}

.list-item-container {
  mat-icon {
    margin-right: 10px;
  }

  .additional-text-element {
    color: #0b57d0;
    cursor: pointer;
  }

  mat-list-item {
    box-sizing: border-box !important;
    height: 80px !important;
    cursor: pointer !important;

    div[matListItemAvatar] {
      width: 100px;
      height: 60px;
      margin: 0 10px 0 0 !important;
      justify-content: center;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }

    div[matListItemLine] {
      text-overflow: ellipsis;
    }
  }
}

.debt-container {
  .additional-text-element {
    span {
      margin-right: 15px;
      text-wrap: nowrap;
    }
  }
}