form{
  fieldset{
    width: 100%;
    box-sizing: border-box;
    legend{
      width: fit-content;
      :not(:first-child){
        margin-left: 10px;
      }
    }
    padding-bottom: 0px;
    margin-bottom: 15px;

    mat-form-field:not(:last-child){
      margin-right: 10px;
    }
    mat-form-field {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  form{
    fieldset{
      flex-direction: column;
      mat-form-field {
        margin-right: 0px !important
      }
    }
  }
  
}