<div class="container">
  <div class="button-group-header">
    <button mat-icon-button color="primary" (click)="goBackOrderList()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  @if (purchaseOrder) {
  <mat-card #matCard>
    <mat-card-header>
      <mat-card-title>
        <h3>{{ purchaseOrder.orderCode }}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="info-list">
        <div class="info-list__item">
          <div class="info-list__item__label">Trạng thái:</div>
          <div class="info-list__item__value">{{ purchaseOrder.status }}</div>
        </div>
        <div class="info-list__item">
          <div class="info-list__item__label">Tổng tiền:</div>
          <div class="info-list__item__value">{{ ((totalPrice$ | async) ?? 0) | vndCurrency }}</div>
        </div>
      </div>
      <mat-accordion multi>
        @if (groupedOrderItems$ | async; as groupedOrderItems) {
        @for (group of groupedOrderItems; track $index) {
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div
                [matBadge]="group.productSupplierDebt > 0 ? '+' : '-'"
                matBadgeDescription="Công nợ"
                [matBadgeHidden]="group.productSupplierDebt === 0"
                matBadgeOverlap="true"
                matBadgeSize="small"
                [matBadgeColor]="group.productSupplierDebt > 0 ? 'primary' : 'warn'"
              >
                {{ group.productSupplierName }}
              </div>
            </mat-panel-title>
            <mat-panel-description>
              Tổng tiền: {{ group.totalPrice | vndCurrency }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="table-container">
            <!-- Table for order items -->
            <table mat-table [dataSource]="group.orderItems">
              <!-- Product Name Column -->
              <ng-container matColumnDef="productName" [sticky]="breakpointDetection$ | async">
                <th mat-header-cell *matHeaderCellDef> Tên sản phẩm </th>
                <td mat-cell *matCellDef="let item"> {{ item.product.name }} </td>
              </ng-container>
  
              <!-- Price Column -->
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Đơn giá </th>
                <td mat-cell *matCellDef="let item"> {{ item.product.price | vndCurrency }} </td>
              </ng-container>
  
              <!-- Quantity Column -->
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Số lượng </th>
                <td mat-cell *matCellDef="let item">
                  {{ item.quantity }}
                </td>
              </ng-container>
  
              <!-- Total Column -->
              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Tổng </th>
                <td mat-cell *matCellDef="let item"> {{ item.itemTotal | vndCurrency }} </td>
              </ng-container>
  
              <!-- Header and Row Definitions -->
              <tr mat-header-row *matHeaderRowDef="['productName', 'price', 'quantity', 'total']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['productName', 'price', 'quantity', 'total']"></tr>
            </table>
          </div>
        </mat-expansion-panel>
        }
        }
      </mat-accordion>

    </mat-card-content>
    <mat-card-actions>
      <div class="group-button-container">
        <button mat-raised-button color="primary" (click)="onDownloadEvent()">
          <mat-icon>download</mat-icon>
          Tải dữ liệu
        </button>
        <button mat-raised-button color="warn" (click)="onEditEvent()">
          <mat-icon>edit</mat-icon>
          Sửa lại
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
  }
</div>