<div role="main" class="container" [class.example-is-mobile]="breakpointDetection$ | async">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">{{ title$ | async }}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="(breakpointDetection$ | async) ? 'over' : 'side'" [fixedInViewport]="true"
      fixedTopGap="64">
      <mat-nav-list>
        @for (nav of menu; track $index) {
          @if (!(nav.childs && nav.childs.length)) {
            <mat-list-item role="listitem" [routerLink]="nav.route" routerLinkActive="activatedItem" (click)="snav.close()">
              {{ nav.name }}
            </mat-list-item>
          }@else {
            @if(nav.childs; as childs){
              <mat-accordion>
                <mat-expansion-panel [expanded]="isActiveMap[nav.route]">
                  <mat-expansion-panel-header routerLinkActive="activatedItem">
                    <span>{{nav.name}}</span>
                  </mat-expansion-panel-header>
                  @for (child of childs; track $index) {
                    <mat-list-item role="listitem" routerLink="{{nav.route+'/'+child.route}}" routerLinkActive="activatedItem" (click)="snav.close()">
                      {{ child.name }}
                    </mat-list-item>
                  }
                </mat-expansion-panel>
              </mat-accordion>
            }
          }
        }

        <div class="bottom-container">
          <mat-list-item (click)="logout()">Đăng xuất</mat-list-item>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>