<div class="container">
  <div class="button-group-header">
    <button mat-icon-button color="primary" (click)="goBackOrderList()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  @if (order) {
  <mat-card class="order-detail-card">
    <mat-card-header>
      <mat-card-title>
        <h3>{{ order.orderCode }}</h3>
      </mat-card-title>
      <mat-card-subtitle>
        <div class="vertical-container">
          <span>Ngày tạo: {{ order.createdAt | date: 'dd/MM/yyyy' }}</span>
          <span>Ngày cập nhật: {{ order.updatedAt | date: 'dd/MM/yyyy' }}</span>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="order-detail-card-content">
      <div class="content-container horizontal-container">
        <div class="left-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h4>Thông tin hàng hóa</h4>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="info-list">
                <div class="info-list__item">
                  <div class="info-list__item__label">Trạng thái:</div>
                  <div class="info-list__item__value">{{ order.status }}</div>
                </div>
              </div>
              <section class="table-container mat-elevation-z8">
                <!-- 2. Hiển thị thông tin bảng order items -->
                <table mat-table [dataSource]="order.orderItems" class="mat-elevation-z8">
                  <ng-container matColumnDef="thumbnail" [sticky]="breakpointDetection$ | async">
                    <th mat-header-cell *matHeaderCellDef> Ảnh </th>
                    <td mat-cell *matCellDef="let item">
                      <img [src]="item.productThumbnail | baseUrl" alt="{{ item.productName }}">
                    </td>
                  </ng-container>
            
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Tên sản phẩm </th>
                    <td mat-cell *matCellDef="let item"> {{item.productName}} </td>
                  </ng-container>
            
                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Số lượng </th>
                    <td mat-cell *matCellDef="let item">{{item.quantity}}</td>
                  </ng-container>
            
                  <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Giá </th>
                    <td mat-cell *matCellDef="let item"> {{item.price | vndCurrency}} </td>
                  </ng-container>
            
                  <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Tổng tiền </th>
                    <td mat-cell *matCellDef="let item"> {{item.total | vndCurrency}} </td>
                  </ng-container>
            
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </section>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="right-container vertical-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h4>Thông tin khách hàng</h4>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              @if (order.customerDetail; as customer) {
                <div class="info-list">
                  <div class="info-list__item">
                    <div class="info-list__item__label">Tên khách hàng</div>
                    <div class="info-list__item__value">{{ customer.name }}</div>
                  </div>
                  <div class="info-list__item">
                    <div class="info-list__item__label">Số điện thoại</div>
                    <div class="info-list__item__value">{{ customer.phoneNumber }}</div>
                  </div>
                  <div class="info-list__item info-list__item--special">
                    <div class="info-list__item--special__label">Địa chỉ</div>
                    <div class="info-list__item--special__value">{{ customer.address }}</div>
                  </div>
                  <div class="info-list__item info-list__item--special">
                    <div class="info-list__item--special__label">Địa chỉ gửi hàng</div>
                    <div class="info-list__item--special__value">{{ order.deliveryAddress }}</div>
                  </div>
                </div>
              }@else {
                Khách vãng lai
              }
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h4>Thông tin hóa đơn</h4>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="info-list">
                <div class="info-list__item">
                  <div class="info-list__item__label">Tổng tiền hàng:</div>
                  <div class="info-list__item__value">{{ order.subTotal | vndCurrency }}</div>
                </div>
                <div class="info-list__item">
                  <div class="info-list__item__label">Phí vận chuyển:</div>
                  <div class="info-list__item__value">{{ order.deliveryFee | vndCurrency }}</div>
                </div>
                <div class="info-list__item ">
                  <div class="info-list__item__label">Chiết khấu:</div>
                  <div class="info-list__item__value">{{ order.discount + '%' }}</div>
                </div>
                <div class="info-list__item">
                  <div class="info-list__item__label"><b>Tổng cộng:</b></div>
                  <div class="info-list__item__value"><b>{{ order.total | vndCurrency }}</b></div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="group-button-container">
        <button mat-raised-button color="primary" (click)="onPrintEvent()">
          <mat-icon>print</mat-icon>
          In hóa đơn
        </button>
        <button mat-raised-button color="warn" (click)="onEditEvent()">
          <mat-icon>edit</mat-icon>
          Sửa lại
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  }
</div>