<div class="container">
  <div class="button-group-header">
    <button mat-icon-button color="primary" (click)="backToOrderDetail()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <mat-card>
    <mat-card-content>
      <div class="content-container horizontal-container">
        <div class="bill-info">
          <order-bill-info [order]="order" [product]="product" (emitBillInfo)="handleBillInfo($event)"
            (emitBillSubInfo)="handleSubBillInfo($event)"></order-bill-info>
        </div>

        <div class="customer-info">
          <order-customer-info [order]="order" (emitCustomer)="handleCustomer($event)"></order-customer-info>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      @if (order) {
      <button mat-raised-button color="primary" [disabled]="updateButtonDisabled$ | async" (click)="update()">Cập
        nhật</button>
      }@else {
      <button mat-raised-button color="primary" [disabled]="!billInfo || !subBillInfo" (click)="create()">Tạo mới</button>
      }
    </mat-card-actions>
  </mat-card>
</div>