<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="content-container horizontal-container">
        <div class="bill-info">
          <order-bill-info [order]="order" (emitBillInfo)="handleBillInfo($event)"
            (emitBillSubInfo)="handleSubBillInfo($event)"></order-bill-info>
        </div>

        <div class="customer-info">
          <order-customer-info [orderCustomer]="customer" (emitCustomer)="handleCustomer($event)"></order-customer-info>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      @if (order) {
      <button mat-raised-button color="primary" [disabled]="updateButtonDisabled$ | async" (click)="save()">Cập
        nhật</button>
      }@else {
      <button mat-raised-button color="primary" [disabled]="!billInfo || !subBillInfo" (click)="save()">Tạo mới</button>
      }
    </mat-card-actions>
  </mat-card>
</div>