.container{
  padding: 15px;
  box-sizing: border-box;

  mat-card{
    height: 100%;
    mat-card-content{
      height: 100%;
      .content-container{
        align-items: flex-start;
        justify-content: space-between;
        .bill-info, .customer-info{
          border: 1px dashed #ccc;
          border-radius: 4px;
          background-color: #f9f9f9;
        }

        .bill-info{
          width: 100%;
          height: 100%;
          overflow-y: auto;
        }

        .customer-info{
          width: 400px;
          margin: 0 0 0 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 850px){
  .container{
    padding: 0;
    mat-card{
      height: unset;
      mat-card-content{
        .content-container{
          flex-direction: column-reverse;
          .bill-info{
            margin: 15px 0 0 0;
          }
          .customer-info{
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
  
}