<div class="container">
  <mat-card>
    <mat-card-header class="horizontal-container">
      <div class="button-group-header">
        <button mat-icon-button color="primary" (click)="goBackAlbumDetail()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="horizontal-container">
        <h3>{{ albumDetail?._id ? 'Chỉnh sửa album' : 'Tạo album' }}</h3>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="horizontal-container">
        <div class="album-container">
          @if(galleryItems.length){
          <app-gallery-custom-thumbs [items]="galleryItems"
            (itemTemporaryDeletionEvent)="handleItemTemporaryDeletion($event)"
            (itemIndexChangedEvent)="handleitemIndexChanged($event)"></app-gallery-custom-thumbs>
          }
          @if(galleryItemTemporarilyDeleted.length){
          <div class="media-item">
            <div class="media-title">Danh sách xóa tạm {{'('+galleryItemTemporarilyDeleted.length+')'}}</div>
            <div class="media-value">
              <app-gallery-item-temporarily-deleted [galleryItemTemporarilyDeleted]="galleryItemTemporarilyDeleted"
                (galleryItemRestore)="onGalleryItemRestore($event)"></app-gallery-item-temporarily-deleted>
            </div>
          </div>
          }
          <button mat-raised-button color="primary" (click)="update()"
            [disabled]="galleryItemTemporarilyDeleted.length === 0 && galleryItemIndexChanged.length === 0">
            Cập nhật
            <mat-icon>sync</mat-icon>
          </button>
        </div>
        <div class="vertical-container form-container" [ngStyle]="{ 'margin': !galleryItems.length ? '0' : ''}">
          <form>
            <mat-form-field>
              <mat-label>Tên album</mat-label>
              <input matInput [formControl]="nameControl" required>
              <mat-error *ngIf="nameControl.invalid">Tên album không được để trống</mat-error>
            </mat-form-field>
          </form>
          <app-file-drag-and-drop [acceptMIMETypes]="mediaMIMETypes" [isMultiple]="true"
            (uploadFiles)="handleFilesUploaded($event)"></app-file-drag-and-drop>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>