.container {
  padding: 15px;
  box-sizing: border-box;

  section:not(:first-child) {
    margin-top: 15px;
  }

  section {
    .group-button-row {
      display: flex;
      justify-content: center;
    }
  }

  .table-container {
    width: 100%;
    height: 100%;
    overflow: auto;

    table[mat-table] {
      .mat-column-price,
      .mat-column-availability,
      .mat-column-unit {
        text-wrap: nowrap;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .container {
    padding: 15px 0;

    .table-container {
      table[mat-table] {
        .mat-column-thumbnail {
          img {
            max-width: 120px;
          }
        }
      }
    }
  }

}