form {
  fieldset {
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;

    legend {
      width: fit-content;

      :not(:first-child) {
        margin-left: 10px;
      }
    }

    mat-form-field {
      width: 100%;
    }

    .button-container {
      justify-content: flex-end;
    }
  }
}

mat-list-item {
  padding: 10px !important;
  box-sizing: border-box !important;
  height: 80px !important;
  cursor: pointer !important;

  div[matListItemAvatar] {
    width: 100px;
    height: 60px;
    margin: 0 10px 0 0 !important;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  div[matListItemLine] {
    text-overflow: ellipsis;
  }

  div[matListItemMeta] {
    display: flex !important;
    justify-content: center;
  }
}

::ng-deep .bank-selector-dialog {
  height: calc(100% - 40px);
}

@media screen and (max-width: 600px) {
  ::ng-deep .bank-selector-dialog {
    height: 100%;
    width: 100%;
    max-width: 100% !important;
  }
}