<form [formGroup]="addressForm" class="vertical-container">
  <fieldset>
    <legend class="horizontal-container">
      <mat-icon>location_on</mat-icon>
      <span>Địa chỉ</span>
    </legend>

    <mat-form-field appearance="fill">
      <mat-label>Tỉnh</mat-label>
      <input #provinceEl type="text" matInput [matAutocomplete]="provinceAuto" (blur)="onProvinceBlur($event)">
      <mat-autocomplete #provinceAuto="matAutocomplete" (optionSelected)="onProvinceOptionSelected($event)">
        @for (province of provinces$ | async; track province) {
        <mat-option [value]="province">{{province.name}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Huyện</mat-label>
      <input #districtEl type="text" matInput [matAutocomplete]="districtAuto" (blur)="onDistrictBlur($event)">
      <mat-autocomplete #districtAuto="matAutocomplete" (optionSelected)="onDistrictOptionSelected($event)">
        @for (districts of districts$ | async; track districts) {
        <mat-option [value]="districts">{{districts.name}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phường</mat-label>
      <input #wardEl type="text" matInput [matAutocomplete]="wardAuto" (blur)="onWardBlur($event)">
      <mat-autocomplete #wardAuto="matAutocomplete" (optionSelected)="onWardOptionSelected($event)">
        @for (wards of wards$ | async; track wards) {
        <mat-option [value]="wards">{{wards.name}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Địa chỉ</mat-label>
      <input matInput formControlName="street" />
    </mat-form-field>
  </fieldset>
</form>